<div *ngIf="feed">
  <h2>General</h2>
  <div>
    <label>Título: </label>
    <input [(ngModel)]="feed.title" placeholder="título" />
  </div>
  <div>
    <label>Descripción: </label>
    <textarea [(ngModel)]="feed.description" placeholder="descripción"></textarea>
  </div>
  <button (click)="save()">Save</button>
</div>
