<div id="search-component">
  <h4>Buscar noticias</h4>
  <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />
  <div>
    <div *ngFor="let item of news | async"
         (click)="gotoDetail(item)" class="search-result" >
      {{item.title}}
    </div>
  </div>
</div>
