<div *ngIf="item">
  <h2>{{item.title}}</h2>
  <div>
    <label>Titular: </label>
    <input [(ngModel)]="item.title" placeholder="title" size="50"/>
  </div>
  <button (click)="goBack()">Back</button>
  <button (click)="save()">Save</button>
</div>
