<h2>Noticias</h2>
<div>
  <div>
    <label>Titular:</label> <input #itemTitle size="50"/>
    <button (click)="add(itemTitle.value); itemTitle.value=''">
      Añadir
    </button>
  </div>
</div>
<ul class="news">
  <li *ngFor="let item of news"
      [class.selected]="item === selectedItem"
      (click)="onSelect(item)">
    <span class="badge">{{item.id}}</span>
    <span>{{item.title}}</span>
    <button class="delete"
	    (click)="delete(item); $event.stopPropagation()">x</button>
  </li>
</ul>
<div *ngIf="selectedItem">
  <h2>
    {{selectedItem.title | uppercase}}
  </h2>
  <button (click)="gotoDetail()">Ver detalle</button>
</div>
